<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>

<div>
<h1>
    Login
</h1>

<!-- Fix Form ! 

a form tag with method "post" that contains any kind of HTML structures but must include:
any security stuff
your rendered form
a button with the content "Login"
-->

<form method="post">

    {% csrf_token %}
    {{ form.as_p }}
    <button>Login</button>
</form>



</div>


</main>
</body>
</html>